<section class="ffg-view">
    <header class="view-header">


      <h2 class="view-title">
        {{link-to model.name "projects"}}
        <i class="icon-arrow-right"></i> <span>Features</span>
      </h2>
        <section class="view-actions">
            <button class="ffg-btn ffg-btn-green" {{action "toggleNewFeatureModal"}} ><span>New Feature</span></button>
        </section>
    </header>

    {{#if showNewFeatureModal}}
        {{ffg-fullscreen-modal "new-feature"
                              close=(action "toggleNewFeatureModal")
                              modifier="action wide"}}
    {{/if}}

    <section class="project-list-content">

      {{#unless sortedFeatures}}
        {{ffg-loading-spinner}}
      {{/unless}}

      {{#each sortedFeatures as |feature|}}
      <div class="settings-project {{if feature.active 'active'}}">
          {{#link-to 'index' class="project-edit-button"}}
              <span class="project-title">
                <span class="ffg-circle {{unless feature.active 'ffg-circle-red'}}"></span>

                {{feature.name}}</span>
              <span class="label label-default">{{feature.keyName}}</span>
              <p class="project-description">{{feature.description}}</p>
              <span class="project-accounts {{unless feature.active 'accounts-red'}}">{{feature.count.accounts}}%<span class="accounts-label">Accounts</span></span>
          {{/link-to}}
      </div>
      {{/each}}

    </section>

</section>
